[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-coverage = "*"
pyhamcrest = "*"
teamcity-messages = "*"

[packages]
requests = "*"
djangorestframework = "*"
django = "*"
pyparsing = "*"
dateparser = "*"
django-redis = "*"

[requires]
python_version = "3.6"
